$backgroundColor: #e5e5e5;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, .app {
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        margin: 10px 0;
        padding: 0;
    }
}

.app .thumb {
    display: block;
    position: fixed;
    top: 0;
    left: -210px;
    width: 250px;
    height: 100%;
    overflow: auto;
    background: #FAFBFC;
    box-shadow: 0 0 20px #C5D9E8;
    z-index: 100;
    transition: .5s all ease-in-out;
}

.app .thumb:hover {
    left: 0;
}

.app .thumb .thumb-item {
    display: block;
    margin: 10px;
    height: 150px;
    border: 1px solid #000;
}

.app .detailPanel {
    position: fixed;
    top: 50%;
    right: -250px;
    width: 250px;
    height: 500px;
    background: #FFF;
    transform: translateY(-50%);
    z-index: 999;
    transition: all 0.5s ease-in-out;

    &.fadeIn {
        right: 5px;
    }
}

.app .toolbar {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 50px;
    height: 40px;
    line-height: 40px;
    background: #FAFBFC;
    box-shadow: 0 0 20px #C5D9E8;
    z-index: 99;

}

.app .toolbar li {
    float: left;
    display: block;
    font-size: 20px;
    margin-right: 10px;
    margin-top: 0;
    cursor: pointer;
    list-style: none;
    line-height: 40px;

    span {
        cursor: pointer;
    }

    i {
        width: 20px;
    }
}

.app .container {
    position: relative;
    width: 950px;
    text-align: center;
    padding-top: 50px;
}

#canvas {
    box-shadow: 0 0 2px #2C405A;
}

#bg-canvas {
    position: absolute;
    left: 25px;
    z-index: -1;
}